<table width='800' class='table'>
  <% @people.each do |person|%>
    <tr>
      <td>
        <%= image_tag(person.gravatar_url) if Person.online %>
        <%= link_to person.name!, overview_person_path(person) %>
      </td>
    </tr>
  <% end %>
</table>
