<table width='200'>
  <% @people.each do |person|%>
    <tr>
      <td>
        <%= image_tag person.gravatar_url %><br/>
      </td>
      <td>
        <%= link_to person.username, :controller=>"measures", :action=>"index", :person_id=>person.id %> <%= image_tag("lock-icon-small.png") if person.private %>
      </td>
    </tr>
  <% end %>
</table>
