<% title "Edit Post" %>

<%= render 'form' %>

<p>
  <%= link_to "Markdown Syntax", "http://daringfireball.net/projects/markdown/syntax" %> | 
  <%= link_to "Show", @post %> |
  <%= link_to "View All", posts_path %>
</p>
